<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ site.data.l10n.title }}
    |
    {{ page.title }}
  </title>

  <link rel="stylesheet" href="{{'/assets/dist/main.css' | relative_url }}">
  {% if layout.required_modules %}
    {% for module in layout.required_modules %}
      <link rel="stylesheet" href="{{ '/assets/dist/' | append: module | append: '.css' | relative_url }}">
      <link rel="modulepreload" href="{{ '/assets/dist/' | append: module | append: '.bundle.js' | relative_url }}">
    {% endfor %}
  {% endif %}

  <link rel="shortcut icon" type="image/png" href=" {{'/assets/images/favicon.png' | relative_url }}">

  {% feed_meta %}

  {% for lang in site.languages %}
    {%- if lang == site.default_lang -%}
      {%- assign href_url = page.url | absolute_url -%}
    {%- else -%}
      {%- assign href_url = lang | append: page.url | absolute_url -%}
    {%- endif -%}
    <link
      rel="alternate"
      hreflang="{{lang}}"
      {% static_href %}
      href="{{ href_url }}"
      {% endstatic_href %}
    >
  {% endfor %}
</head>
