@use "_variables" as v;

/* General */
img {
    height: auto;
}

/* Lightgallery */
.lg-inline .lg-backdrop {
    background-color: transparent;
}

.inline-gallery-container {
    width: 100%;
    // make sure any landscape image will be fully visible
    // portraits are automatically scaled-down by lightgallery
    height: min(70vh, 70vw);
    padding-block-end: v.$base-spacing-size;
    margin-block: v.$base-spacing-size;
    // TODO: center images vertically inside
}

.lightGallery-captions {
    width: fit-content;
    margin: auto;
    background-color: rgba(black, 0.8);
    padding: v.$small-spacing-size;
    border-radius: 3px;
}

.lightGallery-captions:empty {
    display: none;
}

.lg-outer .lg-content {
    bottom: 55px;
}

.lg-outer .lg-thumb-outer {
    background-color: transparent;
    height: 55px;
}

/* Single Images */
figure figcaption {
    width: fit-content;
    margin-inline: auto;
}

figure.centered {
    width: fit-content;
    max-width: 100%;
    margin-inline: auto;

    img {
        width: 100%;
    }
}

figure.float-inline-start {
    max-width: 100%;
    margin-inline: auto;

    img {
        width: 100%;
    }

    @media screen and (min-width: v.$tablet-width) {
        max-width: calc(50% - 1rem);
        margin-inline-end: 1rem;
        float: inline-start;
    }
}

figure.float-inline-end {
    max-width: 100%;
    margin-inline: auto;

    img {
        width: 100%;
    }

    @media screen and (min-width: v.$tablet-width) {
        max-width: calc(50% - 1rem);
        margin-inline-start: 1rem;
        float: inline-end;
    }
}

.flow-root {
    display: flow-root;
}

.float-clear {
    clear: both;
}

/* Image-Divider */
.image-divider {
    display: flex;
    flex-direction: column;
    gap: v.$small-spacing-size;

    img {
        width: 100%;
        vertical-align: middle;
    }

    @media screen and (min-width: v.$tablet-width) {
        flex-direction: row;
    }
}

/* map */
img.preview-thumbnail {
    display: none;
}
