@use "_variables" as *;

.post {
    .post-header {
        display: flex;
        justify-content: space-between;

        .metadata {
            display: none;
        }

        @media screen and (min-width: $tablet-width) {
            .metadata {
                display: initial;
                align-self: center;
                margin-block-end: $base-spacing-size;
            }
        }

        .author {
            display: none;
        }
    }

    .post-preview {
        display: none;
    }
}
