@use "_variables" as v;

.site-header {
    border-bottom: 1px solid v.$grey-color-light;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        display: block;
    }

    .svg-icon {
        width: 1.5rem;
        height: 1.3rem;
        padding-bottom: 0.3rem;
    }

    button {
        width: 1.8rem;
        height: 1.5rem;
        padding: 0;
        font-weight: bold;
    }

    // General layout: home to the left, toplevel-urls centered, language selector to the right
    nav > ul {
        display: flex;
        justify-content: space-between;
        height: 2rem;
        gap: 0.5rem;
    }

    .toplevel-urls {
        width: calc(100% - 1.5rem - 8rem);
    }

    .language-selector {
        width: 6rem;
        align-items: end;
        text-align: end;
    }

    // On wider screens, unfold toplevel-urls to a flat list
    @media screen and (min-width: v.$tablet-width) {
        .toplevel-urls.dropdown {
            display: flex;
            flex-direction: row;

            button {
                display: none;
            }

            ul {
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }

            ul li {
                width: fit-content;
                display: block;
            }
        }
    }

    // Dropdown menus
    .dropdown {
        z-index: 1;
        gap: 0.5rem;

        ul {
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        ul li {
            width: 100%;
            display: none;
        }
    }

    // only display rest of dropdown items when hovering over one of them (including the title)
    .dropdown:hover ul li,
    .dropdown:focus-within ul li,
    .dropdown:focus {
        display: block;
    }

    // Navigation links
    a {
        color: v.$text-color;
        border-color: transparent;
        text-decoration: none;
        border-bottom: 0.3rem solid;
    }

    li.current-toplevel a {
        color: v.$brand-color;
        border-color: v.$brand-color;
    }

    a:hover,
    a:focus {
        color: v.$brand-color;
        border-color: v.$brand-color;
        transition:
            border-color 0.3s,
            color 1s;
    }
}
