@use "_variables" as v;

.site-footer {
    border-top: 1px solid v.$grey-color-light;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: v.$grey-color;
    flex-direction: column;

    @media screen and (min-width: v.$tablet-width) {
        flex-direction: row;
        column-gap: 2rem;
    }
}

.site-footer ul {
    list-style: none;
    margin-left: 0;
    white-space: nowrap;
}

.site-footer .svg-icon {
    width: 1rem;
    height: 1rem;
    color: v.$grey-color;
}
