---
layout: default
---
<article>
  <h1>
    {{- site.data[site.active_lang].l10n.title | escape -}}
  </h1>

  {{ content }}
</article>

{%- if site.posts.size > 0 -%}
  <article>
    <h2>{{ site.data.l10n.recent_posts }}</h2>

    {% comment %} List the most recent post of each category, as well as any uncategorized ones {% endcomment %}
    <ul class="post-list">
      {% assign listed_categories = site.emptyArray %}
      {%- for post in site.posts -%}
        {% if post.categories == empty %}
          {% assign select_post = true %}
        {% else %}
          {% assign select_post = false %}
        {% endif %}

        {%- for category in post.categories -%}
          {% unless listed_categories contains category %}
            {% assign select_post = true %}
            {% assign listed_categories = listed_categories | push: category %}
          {% endunless %}
        {%- endfor -%}

        {% if select_post == true %}
          <li>
            {%- include post-preview.html post=post -%}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
  </article>
{%- endif -%}
