---
layout: default
required_modules:
- init_inline_galleries
---
<article class="post h-entry hentry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a class="u-url" rel="bookmark" href="{{ page.url | relative_url }}">
      <h1 class="title p-name entry-title">{{ page.title | escape }}</h1>
    </a>

    {% include post-metadata.html post=page %}

    <address class="author p-author">{{ site.author }}</address>
  </header>

  <div class="post-preview p-summary entry-summary">
    <p>{{ page.preview_text | newline_to_br | replace: 'br /', 'br' }}</p>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<script
  id="init-inline-galleries"
  type="module"
  src="{{'/assets/dist/init_inline_galleries.bundle.js' | relative_url}}"
  data-close-gallery-l10n="{{ site.data[site.active_lang].l10n.closeGallery }}"
  data-toggle-maximize-l10n="{{ site.data[site.active_lang].l10n.toggleMaximize }}"
  data-previous-slide-l10n="{{ site.data[site.active_lang].l10n.previousSlide }}"
  data-next-slide-l10n="{{ site.data[site.active_lang].l10n.nextSlide }}"
  data-download-l10n="{{ site.data[site.active_lang].l10n.download }}"
  data-play-video-l10n="{{ site.data[site.active_lang].l10n.playVideo }}"
  data-media-loading-failed-l10n="{{ site.data[site.active_lang].l10n.mediaLoadingFailed }}"
></script>